<div style="margin-top:100px">
</div>

[crédits]     \|     [contact]     \|     {{ site.twitter_link }}     \|     {{ site.facebook_link }}

© 2011 – {{ site.time | date: "%Y" }} Rosemonde Rossel  | [rosemonderossel.com]  |  [psychogenealogie-suisse.ch]

[crédits]: credits
[contact]: contact
[psychogenealogie-suisse.ch]: https://psychogenealogie-suisse.ch/
[rosemonderossel.com]: {{ site.mailto_contact_sensdesprenoms_com_obf }}

❧