/***
 * media_print.css
 **/


body {
    prince-text-replace: "'" "’";
}

@page no_de_page_std {
    @bottom-center {
        content: "– " counter(page) " –";
        content: "© 2011–2023 sensdesprenom.com | 8ème édition, juillet 2023";
    }
}

.page_counter_reset {
    /* page: no_de_page_std; */
    counter-reset: page 1;
}

li {
    margin-left: 4px;
    margin-right: 40px;
}

.fiche_prenom div:nth-child(odd) {
    border-left: none;
}

.fiche_prenom div:nth-child(even) {
    border-left: none;
}

.feminin {
    border-left: none;
}

.masculin {
    border-left: none;
}

.mixte {
    border-left: none;
}

body {
    margin: 0;
}

h1:before {
    content: none;
}

.fiche_prenom {
    margin-bottom: 20px;
}

.fiche_prenom div {
    padding: 0px 20px;
}

div.content {
    width: 97%;
    margin: 0;
    padding: 0;
    column-count: 1;
}

@page {
    size: A4 portrait;
    margin: 2cm;
}

@page {
    margin: 2.0cm;
}

/* pour l’impression papier 2 cm */
@page :left {
    margin-right: 2.0cm;
}

/* pour l’impression papier 3 cm */
@page :right {
    margin-left: 2.0cm;
}

div.fiche_prenom {
    page-break-before: always;
}

.couverture h1 {
    margin-top: 7em;
}

.only_for_print {
    display: block;
}

.no_print {
    display: none;
}
